////////// COLORS //////////
$color-primary: #01044c;
$color-primary2: #000bff;
$color-primary-light: #afc2eb;
$color-primary-dark: #00011a;

$color-secondary: #ff2834;
$color-secondary-light: #fb8e8e;
$color-secondary-light2: rgb(243, 177, 179);
$color-secondary-dark: #cf000a;

$color-tertiary: #abd603;
$color-tertiary2: #d8ff3f;
$color-tertiary-light: #e6ff85;
$color-tertiary-light2: #ecff9f;
$color-tertiary-dark: #9ec700;
$color-tertiary-dark2: #2e3a00;

// NOTIFICATIONS
$color-red: #f82408;
$color-red-dark: #ce1800;
$color-red-light: #ffc5c5;
$color-green: #1a9c00;
$color-orange: #ffba25;

$color-yellow: #fff700;
$color-yellow-light: #fffec8;
$color-yellow-light2: #fffeed;

$color-grey-light: #f6f6f6;
$color-grey-dark: rgb(46, 43, 43);
$color-blue: #ced8f3;
$color-blue-grey: #7f8dab;
$color-white: #ffffff;
$color-black: #000000;

$color-steps: #eaeaea;
$color-carmel: rgb(255, 255, 255);
$color-blue-light: #e8edfa;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONTS
$default-font-size: 1.6rem; // 16px
